html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.imagem {
    background-image: url('../imagem/pexels-realtoughcandycom-11035396.jpg');
    margin: 0;
}