@{
    ViewData["Title"] = "Login";
}
<style>
/*     body{
        background-image: url('../imagem/pexels-realtoughcandycom-11035396.jpg');
        margin: 0;
    } */
</style>
@* <div class="alert alert-primary" role="alert">
    <h2 class="#" style="color:dodgerblue;font-size:25px;text-align:center">Faça login primeiro!</h2>
</div> *@
    <h2 class="#" style="color:dodgerblue;font-size:25px;text-align:center">Faça login primeiro!</h2>

<div class="rounded d-flex justify-content-center">
    <div class="p-4">
        <form method="post">
            <div class="input-group mb-3">
                <span class="input-group-text bg-primary">
                    <i class="zmdi zmdi-account text-white"></i>
                </span>
                <input name="email" type="email" class="form-control" placeholder="Email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text bg-primary">
                    <i class="zmdi zmdi-lock text-white"></i>
                </span>
                <input name="password" type="password" class="form-control" placeholder="Password">
            </div>
            <div class="d-grid col-12 mx-auto">
                <input type="submit" class="btn btn-primary" />
            </div>
            <br />
            <br />
            @{
                if (ViewBag.erro != null)
                {
                    <p class="text-center" style="color:darkred;font-size:15px">@ViewBag.erro</p>
                }
            }

        </form>
    </div>

</div>