@{
    ViewData["Title"] = "Login";
}
    <br />
    <br />
    <br />

    <h2 class="#" style="color:dodgerblue;font-size:25px;text-align:center">Faça login primeiro!</h2>
    <h1 class="#" style="color:dodgerblue;font-size:18px;text-align:center">Minha agenda</h1>

    <div class="rounded d-flex justify-content-center">
        <div class="p-4">
            <form method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text bg-primary">
                        <i class="zmdi zmdi-account text-white"></i>
                    </span>
                    <input name="email" type="email" class="form-control" placeholder="Email" required="required">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text bg-primary">
                        <i class="zmdi zmdi-lock text-white"></i>
                    </span>
                    <input name="password" type="password" class="form-control" placeholder="Password" required="required">
                </div>
                <div class="d-grid col-12 mx-auto">
                    <input type="submit" class="btn btn-primary" />
                </div>
                <br />
                <br />
            </form>
        </div>

    </div>
